.catalog {
  .wrap;
  font-size: 12px;
  line-height: 16px;
}
.catalog__title {
  .reset;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: center;
  color: @title-color;

  padding-top: 18px;
  padding-bottom: 26px;
  border-bottom: 1px solid @border-color;
}
.catalog__list {
  .list-reset;

}

