.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.copyright__link {
  .reset;
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: @text-color;

  &:active {
    opacity: 0.3;
  }
}

.copyright-icon {
  fill: #666666;
  &:hover {
    fill: @green-color;
  }
  &:active {
    opacity: 0.3;
  }
}

.copyright__image {
  .reset;
  display: block;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;
  }
}
