.input-list {
  .list-reset;
  display: flex;
  flex-direction: column;

}

.input-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-list__field {  
  height: 45px;
  margin-left: 15px;
  padding: 0 40px 0 14px;
  width: 100%;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid @border-color;
  background-position: right;
  background-repeat: no-repeat;

  &::placeholder {
    color: @placeholder;
  }

  &--email{
    background-image: url("../img/icon-mail.svg");
    background-size: 55px 13px;
    margin-left: 12px;
    &:focus {
      background-image: url("../img/icon-mail-active.svg");
    }
    &--error {
      background-image: url("../img/icon-mail-error.svg");
    }

  }
  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-size: 55px 20px;
    margin-left: 10px;
    &:focus {
      background-image: url("../img/icon-phone-active.svg");
    }
    &--error {
      background-image: url("../img/icon-phone-error.svg");
    }
  }
  &:hover {
    border-width: 2px;
  }
  &:active {
    border: 3px solid @input-active;
  }
  &--error {
    border: 3px solid @input-error;
  }
}

.input-list__label {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  flex-shrink: 0;
}

@media (min-width: @tablet-width) {
  .input-list__item {
    margin-bottom: 23px;
  }
  .input-list__field {
    font-size: 20px;
    line-height: 22px;
    padding: 0 19px;
    height: 52px;
    margin-left: 19px;
    &--tel {
      margin-left: 16px;
    }
  }

  .input-list__label {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .input-list--contacts {
    flex-direction: row;
    justify-content: space-between;
  }
  .input-list__item--contacts {
    width: 570px;
  }

}
