.input-list {
  .list-reset;
  display: flex;
  flex-direction: column;
}

.input-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.input-list__field {
  height: 45px;
  margin-left: 15px;
  padding: 0 14px 0 14px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid @border-color;
  background-position: right;
  background-repeat: no-repeat;

  &::placeholder {
    color: @placeholder;
    opacity: 1;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-size: 48px 13px;
    margin-left: 12px;
    padding-right: 40px;

    &:focus {
      background-image: url("../img/icon-mail-active.svg");
    }

    &:invalid:not(:placeholder-shown) {
      background-image: url("../img/icon-mail-error.svg");
    }
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-size: 45px 20px;
    margin-left: 10px;
    padding-right: 40px;

    &:focus {
      background-image: url("../img/icon-phone-active.svg");
    }

    &:invalid:not(:placeholder-shown) {
      background-image: url("../img/icon-phone-error.svg");
    }
  }

  &:hover {
    border-color: @input-hover;
  }

  &:active,
  &:focus {
    padding-left: 13px;
    border: 2px solid @input-active;
    outline: none;
  }

  &:invalid:not(:placeholder-shown) {
    border: 3px solid @input-error;
  }
}

.input-list__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  flex-shrink: 0;
}

@media (min-width: @tablet-width) {
  .input-list__item {
    margin-bottom: 20px;
  }

  .input-list__field {
    font-size: 20px;
    line-height: 22px;
    padding: 0 18px;
    height: 52px;
    margin-left: 19px;

    &:active,
    &:focus {
      padding-left: 17px;
    }

    &--tel {
      margin-left: 16px;
      background-size: 50px 20px;
    }

    &--email {
      background-size: 50px 13px;
      padding-left: 19px;

      &:active,
      &:focus {
        padding-left: 18px;
      }
    }
  }

  .input-list__label {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .input-list__label {
    padding-left: 1px;
  }

  .input-list__field {
    padding: 0 17px;

    &:active,
    &:focus {
      padding-left: 16px;
    }

    &--email {
      background-size: 55px 13px;
      padding-left: 19px;

      &:active,
      &:focus {
        padding-left: 18px;
      }
    }

    &--tel {
      background-size: 55px 20px;
    }
  }

  .input-list--contacts {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .input-list__item--contacts {
    width: 571px;
  }
}
