.page-header__inner {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__menu {
  padding: 13px 20px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @border-color;
}

.page-header__logo-image {
  .reset;
  display: block;
  width: 191px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .page-header__inner {
    width: 768px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__menu {
    border: none;
    padding: 0;
  }
  .page-header__logo img {
    width: 173px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header__inner {
    width: 1300px;
    padding: 0 40px;
  }
  .page-header__logo img {
    width: 202px;
  }
}
