.profile__label {
  .reset;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-bottom: 25px;
  padding-left: 45px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.profile__description {
  .reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 0 30px 0 20px;
}

.profile__radio + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -6px;
  border: 1px solid @radio;
  border-radius: 50%;
}

.profile__radio:hover + label::before,
.profile__radio:focus + label::before {
  border: 1px solid @radio-hover;
}

.profile__radio:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 9px;
  top: 3px;
  border: 1px solid @green-color;
  background-color: @green-color;
  border-radius: 50%;
}

.profile__radio:focus + label {
  opacity: 0.3;
}

.profile__radio:disabled + label {
  color: @checkbox;
  opacity: 1;
}

.profile__radio:disabled + label::before {
  border: 1px solid @radio;
}

.profile__checkbox + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -6px;
  border: 1px solid @checkbox;

  &:hover {
    border: 1px solid @checkbox-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.profile__checkbox:hover + label::before {
  border: 1px solid @checkbox-hover;
}

.profile__checkbox:focus + label {
  opacity: 0.3;
}

.profile__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 10px;
  left: 6px;
  top: 2px;
  border-bottom: 2px solid @green-color;
  border-left: 2px solid @green-color;
  transform: rotate(-45deg);
}

.profile__checkbox:disabled + label {
  color: @checkbox;
  opacity: 1;
}

.profile__checkbox:disabled + label::before {
  border: 1px solid @checkbox;
}

.profile__fieldset {
  .reset;
  border: none;
  padding: 0 20px;
}

.profile__cat {
  padding-bottom: 10px;
  margin-bottom: 26px;
  border-bottom: 1px solid @border-color;
}

.profile__want {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  border-bottom: 1px solid @border-color;
}

.profile__radio {
  margin-bottom: 26px;
}

.profile__contacts {
  margin-bottom: 15px;
}

.profile__comments {
  margin-bottom: 26px;
}

.profile__legend {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 34px;

  span {
    padding-right: 24px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    width: 100vw;
    z-index: -1;
    height: 2px;
    position: absolute;
    left: 0;
    top: 14px;
    background-color: @green-color;
  }

  &::before {
    content: "";
    width: 100vw;
    z-index: -1;
    height: 2px;
    position: absolute;
    background-color: @green-color;
    top: 14px;
  }

  &--comments {
    &::before {
      right: 168px;
    }
  }

  &--contacts {
    &::before {
      right: 304px;
    }
  }

  &--additionally {
    margin-bottom: 40px;

    &::before {
      right: 188px;
      top: 12px;
    }
  }
}

.profile__additionally {
  margin-bottom: 14px;
}

.profile__textarea {
  .reset;
  width: 100%;
  min-height: 148px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @text-color;
  text-align: left;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid @border-color;

  &::placeholder {
    color: @placeholder;
    opacity: 1;
  }

  &:hover {
    border-color: @input-hover;
  }

  &:active,
  &:focus {
    padding-left: 12px;
    padding-top: 12px;
    border: 2px solid @input-active;
    outline: none;
  }
}

.profile__button {
  margin: 0 auto;
  margin-bottom: 22px;
}

.profile__notice {
  .reset;
  text-align: center;
  line-height: 16px;
  margin-bottom: 30px;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .profile__description {
    padding: 0;
    width: 384px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }

  .profile__cat {
    padding: 0;
    margin-bottom: 54px;
    border: none;
  }

  .profile__comments {
    padding: 0;
    margin-bottom: 64px;
  }

  .profile__want {
    padding: 32px 25px 3px 27px;
    margin-bottom: 74px;

    border: 1px solid @border-color;
  }

  .profile__contacts {
    padding: 0;
    margin-bottom: 45px;
  }

  .profile__additionally {
    padding: 0;
    margin-bottom: 14px;
  }

  .profile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .profile__textarea {
    min-height: 173px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 17px;

    &:active,
    &:focus {
      padding-left: 16px;
      padding-top: 9px;
    }
  }

  .profile__label {
    width: 550px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
    margin-bottom: 33px;

    &--additionaly {
      width: 286px;
      margin-bottom: 51px;
      padding-left: 59px;
    }
  }

  .profile__legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;

    span {
      padding-right: 42px;
    }

    &::after {
      top: 23px;
    }

    &::before {
      top: 23px;
    }

    &--comments {
      margin-bottom: 76px;

      &::before {
        right: 264px;
      }
    }

    &--contacts {
      margin-bottom: 75px;

      span {
        padding: 0;
      }

      &::before {
        right: 554px;
      }

      &::after {
        left: 554px;
      }
    }

    &--additionally {
      margin-bottom: 66px;

      &::before {
        right: 294px;
      }
    }
  }

  .profile__radio + label::before {
    width: 40px;
    height: 40px;
    top: -10px;
  }

  .profile__radio:checked + label::after {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 1px;
  }

  .profile__checkbox + label::before {
    width: 40px;
    height: 40px;
    top: -10px;
    border: 1px solid @border-color;
  }

  .profile__checkbox:checked + label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 12px;
    left: 10px;
    top: 3px;
    border-bottom: 3px solid @green-color;
    border-left: 3px solid @green-color;
  }

  .profile__button {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
    margin: 0;
    margin-right: 60px;
  }

  .profile__notice {
    font-size: 16px;
    margin: 0;
  }

  .profile__end {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 72px;
  }
}

@media (min-width: @desktop-width) {
  .profile__about-cat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 48px;
  }

  .profile__cat,
  .profile__want {
    width: 570px;
    margin-bottom: 0;
  }

  .profile__label {
    width: 400px;

    &--additionaly {
      width: 245px;
    }
  }

  .profile__end {
    margin-bottom: 84px;
  }

  .profile__additionally {
    margin-bottom: 22px;
  }

  .profile__contacts {
    margin-bottom: 49px;
  }

  .profile__button {
    width: 570px;
    margin-right: 82px;
  }
}
