.promo {
  .wrap;
  padding: 30px 20px 22px 20px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  .reset;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: @text-color-white;
  font-weight: 400;
  text-align: center;

  margin-bottom: 19px;
}

.promo__slogan {
  .reset;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @text-color-white;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 29px;
}

.promo__picture {
  .reset;
}

.promo__image {
  .reset;
  display: block;
}
