.series__inner {
  // width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.series__list {
  .list-reset;
}

.series__item {
  position: relative;
  background-color: @grey-color;
  padding: 30px 20px 21px 20px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 24px;
    width: 50px;
    height: 50px;
    border: 25px solid @green-color;
    border-radius: 50%;
  }

  &--slim {
    &::after {
      content: "";
      position: absolute;
      left: 30px;
      top: 22px;
      width: 36px;
      height: 49px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro {
    &::after {
      content: "";
      position: absolute;
      left: 13px;
      top: 35px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.series__title {
  .reset;
  font-family: "OswaldRegular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: @title-color;
  padding-left: 72px;
  margin-bottom: 30px;
  font-weight: normal;
}

.series__description {
  .reset;
  padding-bottom: 21px;
  margin-bottom: 19px;
  border-bottom: 1px solid @border-color;
}

.series__link {
  display: inline-block;
  position: relative;

  font-family: "OswaldRegular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: @title-color;
  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 11px;
    right: -38px;
    top: 3px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}


@media (min-width: @tablet-width) {
  .series__inner {
    width: 768px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .series__item {
    position: relative;
    padding: 77px 282px 60px 52px;

    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
      border-width: 100px;
    }

    &--slim {
      &::after {
        width: 142px;
        height: 194px;
        top: 80px;
        left: 476px;
      }
    }

    &--pro {
      &::after {
        width: 270px;
        height: 112px;
        top: 136px;
        left: 412px;
      }
    }
  }

  .series__title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .series__description {
    padding-bottom: 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .series__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -47px;
      top: 4px;
    }
  }
}

@media (min-width: @desktop-width) {
  .series__inner {
    width: 1300px;
    padding: 0 40px;
    margin-bottom: 63px;
  }

  .series__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .series__item {
    width: 570px;
    padding-right: 52px;

    &::before {
      top: 48px;
      left: 53px;
      width: 100px;
      height: 100px;
      border-width: 50px;
    }

    &--slim {
      &::after {
        width: 70px;
        height: 98px;
        top: 40px;
        left: 66px;
      }
    }

    &--pro {
      &::after {
        width: 134px;
        height: 56px;
        top: 68px;
        left: 35px;
      }
    }
  }
  .series__title {
    padding-left: 164px;
    margin-bottom: 74px;

  }
}
