.site-list {
  .list-reset;
}

.site-list__item {
  font-family: "OswaldMedium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: @title-color;
  text-align: center;
  text-transform: uppercase;
  padding: 23px 20px;
  text-decoration: none;
  border-bottom: 1px solid @border-color;
}
