.social {
  border-bottom: 1px solid @border-color;
  padding: 22px 0 17px 0;
}

.social__list {
  .list-reset;
  margin: 0 101px 0 93px;
  width: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__icon {
  fill: #666666;

  &:hover,
  &:focus {
    fill: @green-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item {
  display: flex;
  justify-content: center;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    padding: 0;
    border: none;
    // margin: 0 auto;
  }

  .social__list {
    margin: 0 auto;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
