body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: #ffffff;
  margin: 0;
}

img { max-width: 100% }
a { text-decoration: none }

.feedback { color: black }
ul { list-style: none }
.feedback p { margin-bottom: 0 }

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


